/* Look into css variable polyfill for Internet Explorer */
:root {
    --light-color: #fff;
    --box-shadow-bottom: 0px 2px 1px #ccc;
    --section-margin:1rem auto 0 auto;
    --section-padding:4rem 0;
    --section-padding-2:4rem;
    --content-margin-:2rem 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color:#e5e7eb;
}

h1,h2,h3,h4,h5,h6,p {
    padding:.25rem;
}

 header {
     display:flex;
     justify-content:space-between;
     padding:0.5rem 1rem;
     box-shadow:var(--box-shadow-bottom);
     z-index:9999;
     background-color:#fff;
 }

 header p, .material-icons {
     font-size:2rem;
 }

 .material-icons {
     align-content:flex-end;
     position: relative;
     top: 4px;
 }

 nav {
     margin: 7px 0;
 }

 nav ul {
     display:flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     list-style: none;
 }

 nav ul li {
     padding: .5rem;
 }

.nav-items {
    text-decoration:none;
    color:unset;
}

.hero {
    color:var(--light-color);
    height:100%;
    text-align:center;
    display:flex;
    justify-content:center;
    align-content:center;
}

.hero div {
    padding: var(--section-padding);
}

.static-gradient {
    background: #000;
    background: linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: -webkit-linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: -moz-linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.animation-gradient {
    background: linear-gradient(-45deg,#ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: -webkit-linear-gradient(-45deg,#ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: -moz-linear-gradient(-45deg,#ee7752, #e73c7e, #23a6d5, #23d5ab);
    position: relative;
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

.container {
    max-width:1280px;
    margin: var(--section-margin);
    /* padding: var(--section-padding); */
}  

.container-sm {
    padding: var(--section-padding-2);
}

.container-nested {
    display:block;
    text-align:center;
}

.container-sm, .container-nested {
    margin-bottom:1rem;
}

.container-fill-light {
    background-color:var(--light-color);
    box-shadow:var(--box-shadow-bottom);
}  

/* no flex values set, so the items group together inestead of taking the full width */
.content-fluid {
    margin:var(--content-margin);
    padding: 2rem;
} 

.content-equal {
    padding: 1rem;
    flex:1;
} 

.xl-icon {
    font-size: 4rem;
}

.xl-txt {
    font-size:1.8rem;
}

.lg-txt {
    font-size:1.45rem;
}

@media screen and (min-width:768px){
    .container, .container-sm {
        display:flex;
        align-items:center;
        flex-wrap:wrap;
    }

    .container-nested {
        padding:1.25rem;
        display: flex;
        align-items: center;
        text-align:left;
        flex:1;
    }

    .container-sm, .container-nested {
        margin-right: .4rem;
    }

    .content-equal {
        padding:2rem;
    }
}

@media screen and (min-width:960px) {
    .container-sm:last-of-type, .container-nested:last-of-type {
        margin-right: 0;
    }

    .container-sm, .container-nested {
        padding:2rem;
        margin-bottom:0;
    }
}