/* Look into css variable polyfill for Internet Explorer */
:root {
    --light-color: #fff;
    --box-shadow-bottom: 0px 2px 1px #ccc;
    --section-margin:0 auto;
    --section-padding:4rem;
    --section-padding-2:2rem;
    --content-margin-:2rem 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    margin:0 auto .5rem auto;
    width:100%;
}

a {
    text-decoration:none;
    color:unset;
}

.icon-section img {
    width:75px;
}

.icon-section div {
    justify-content: center;
    align-content: center;;
}

.text-center {
    text-align:center;
}

.portfolio-img {
    width:100px; 
    /* float:left; 
    margin-right:1rem; */
    filter: grayscale(1);
}

.code-margin {
    margin-left:2rem;
}

.dashboard-background {
    padding:1rem 0 2rem 0;
    background-color:#e5e7eb;
}

h1,h2,h3,h4,h5,h6,p {
    padding:.25rem;
}

 header {
     display:flex;
     justify-content:space-between;
     padding:0.5rem 1rem;
     box-shadow:var(--box-shadow-bottom);
     z-index:9999;
     background-color:#fff;
     position: fixed;
     top:0;
     width:100%;
 }

 header p, .material-icons {
     font-size:2rem;
 }

 #about, #work, #contact {
    scroll-margin-top: 4.5rem; 
  }

 .material-icons {
     align-content:flex-end;
     position: relative;
     top: 0px;
 }

 .fa-icons {
     font-size:3rem;
     padding:1.5rem;
     margin-top:2rem;
 }

 .fa-icons::before {
    content: "";
 }

main {
    margin-top:6rem;
}

 nav {
     margin: 7px 0;
 }

 nav ul {
     display:flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     list-style: none;
 }

 nav ul li {
     padding: .5rem;
 }

.nav-items {
    text-decoration:none;
    color:unset;
}

.hero, .xl-bg {
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}

.hero {
    text-align:center;
    color:var(--light-color);
}

.xl-bg {
    padding:3rem 0;
}

.container-fill-dark-1 {
    background-color:#000;
    color:#fff;
}

.container-fill-dark-2 {
    background-color:#111;
    color:#fff;
}

.hero div {
    padding: var(--section-padding);
}

.xl-bg div {
    padding:2rem;
}

.static-gradient {
    background: #000;
    background: linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #147e65);
    background: -webkit-linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #147e65);
    background: -moz-linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #147e65);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.full-width {
    width:100%;
    margin:0;
    padding:1rem 0;
}

.container {
    max-width:1280px;
    margin: var(--section-margin);
    /* padding: var(--section-padding); */
}

.container-sm {
    padding: var(--section-padding-2);
}

.container-nested {
    /* display:block; */
    text-align:center;
}

.container-sm, .container-nested {
    margin-bottom:1rem;
}

.container-fill-light-1 {
    background-color:var(--light-color);
    color:unset;
    /* box-shadow:var(--box-shadow-bottom); */
} 

.clear-space {
    margin:0;
}

.content-margin-top {
    margin-top:1rem;
}

.content-margin-bottom {
    margin-bottom:1rem;
}

/* no flex values set, so the items group together inestead of taking the full width */
.content-fluid {
    margin:var(--content-margin);
    padding: 2rem;
} 

.content-space {
    padding:1rem;
}

.content-gte-4 {
    flex-basis:40%;
}

.content-gte-6 {
    flex-basis:30%;
}

.card {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
  }

  .button-1 {
    /* background-color:#111; */
    padding:.7rem;
    margin-top:.6rem;
    align-self:flex-end;
    border:none;
}

.button-1 a {
    color:#fff;
    text-decoration:none;
}  


.xl-icon {
    font-size: 6rem;
}

.color-1 {
    color:#23a6d5;
}

.color-2 {
    color:#ee7752;
}

.color-3 {
    color:#147e65;
}

.color-4 {
    color:#e73c7e;
}

.bg-color-1 {
    background-color:#23a6d5;
    color:#fff;
}

.bg-color-2 {
    background-color:#ee7752;
    color:#fff;
}

.bg-color-3 {
    background-color:#147e65;
    color:#fff;
}

.bg-color-4 {
    background-color:#e73c7e;
    color:#fff;
}

.offsest-box-color-1 {
    box-shadow: -30px -30px 0px #23a6d5;
}

.offsest-box-color-2 {
    box-shadow: -30px -30px 0px #ee7752;
}

.offsest-box-color-3 {
    box-shadow: -30px -30px 0px #147e65;
}

.offsest-box-color-4 {
    box-shadow: -30px -30px 0px #e73c7e;
}

.offsest-box-color-1-sm {
    box-shadow: -10px -10px 0px #23a6d5;
}

.offsest-box-color-2-sm {
    box-shadow: -10px -10px 0px #ee7752;
}

.offsest-box-color-3-sm {
    box-shadow: -10px -10px 0px #147e65;
}

.offsest-box-color-4-sm {
    box-shadow: -10px -10px 0px #e73c7e;
}

.xl-txt {
    font-size:1.8rem;
}

.lg-txt {
    font-size:1.2rem;
}

.feature {
    flex-basis:100%;
}

.featured-text {
    font-weight: bold;
    font-style: italic;
}

@media screen and (min-width:768px){
    .container, .container-sm {
        display:flex;
        /* align-items:stretch; */
        flex-wrap:wrap;
    }

    .container-nested {
        padding:1.25rem;
        display: flex;
        align-items: center;
        text-align:left;
        flex:1;
    }

    .container-sm, .container-nested {
        margin-right: .4rem;
    }

    .content-space {
        padding:1.25rem;
    }

    .content-1 {
        flex:1;
    } 
    
    .content-2 {
        flex:2;
    } 
    
    .content-3 {
        flex:3;
    } 
    
    .content-11 {
        flex:11;
    } 

    .feature {
        flex-basis:45%;
    }

    .content-gte-4 {
        flex: 0 1 48%;
    }

    .icon-section img {
        width:50px;
    }
}

@media screen and (min-width:960px) {
    .container-sm, .container-nested {
        padding:2rem;
    }

    .content-gte-4 {
        flex:1;
    }

    .content-gte-6 {
        margin:0 .4rem .4rem 0;
    }
}

@media screen and (min-width:1280px) {
    .container-sm:last-of-type, .container-nested:last-of-type {
        margin-right: 0;
    }

    .content-gte-6 {
        flex:1;
    }
}